{% extends 'blog/base_blog.html' %}

{% block title %}
News Blog
{% endblock %}

{% block content %}
<h2 class="mb-3">Новости</h2>
{% for post in page_object.object_list %}
    {% include 'blog/includes/post_card_template.html' %}
{% endfor %}

{% endblock %}

{% block weather %}
          <h2>Информация о погоде</h2>
   {% for info in all_info %}
        <div class="alert alert-info">
            <div class="row">
                <div class="col-7">
                <b>Город: </b>{{ info.city }}<br>
                <b>Температура: </b>{{ info.temp }}<sup>o</sup>
                </div>
            <div class="col-4 offset-1">
                <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="photo weather">
            </div>
                    </div>
                </div>
            {% endfor %}
{% endblock %}