{% extends 'weather/base_weather.html' %}

{% block title %}
   Weather
{% endblock %}

{% block content %}
      <h1>Введите город</h1>
      <form action="" method="post">
      {% csrf_token %}
      {{ form.name }}
      <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
</form>
{% endblock %}

{% block weather %}
<h1>Информация</h1>
   {% for info in all_info %}
        <div class="alert alert-info">
            <div class="row">
                <div class="col-7">
                <b>Город: </b>{{ info.city }}<br>
                <b>Температура: </b>{{ info.temp }}<sup>o</sup>
                <a href="{% url 'delete' info.id %}" class="btn btn-danger">Удалить</a>
                </div>
            <div class="col-4 offset-1">
                <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="photo weather">
            </div>
                    </div>
                </div>
            {% endfor %}
{% endblock %}
